<section class="container">
  <app-form [categoryArray]="categories" [product]="product" (emitter)="saveProduct()" ></app-form>
  <h1 class="display-6">Produtos Cadastrados:</h1>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col" class="d-none d-md-table-cell">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
            <th scope="col" class="d-none d-md-table-cell">Opções
            <th>
          </tr>
        </thead>
        <tbody id="table">
        </tbody>
      </table>
    </div>
  </div>
</section>