<section class="container">
  <app-form [categoryArray]="categories" [product]="product" (emitter)="saveProduct()"></app-form>
  <h1 class="display-6">Produtos Cadastrados:</h1>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col" class="d-none d-md-table-cell">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
            <th scope="col" class="d-none d-md-table-cell">Opções
            <th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price | currency: 'BRL': true}} </td>
            <td>{{product.category.name}}</td>
            <td>
              <span *ngIf="product.promotion" class="badge text-bg-success me-1">P</span>
              <span *ngIf="product.newProduct" class="badge text-bg-primary">L</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>